<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Invalid SMS response</h1>
    <p>
      Development Team: There has been an issue with Twilio sending a disaster message to the user. Please assign yourself to this ticket, and notify the team when it has been resolved.<br>
    </p>
    <p>
    </p>
  </body>
</html>
