---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/alerts/active?certainty=Observed,Likely&point=sfv,sdfs&severity=Extreme,Severe&status=actual&urgency=Immediate,Expected
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - ee46310
      X-Server-Id:
      - vm-bldr-nids-apiapp9.ncep.noaa.gov
      X-Edge-Request-Id:
      - 2429a8d8
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "ee46310",
            "parameterErrors": [
                {
                    "parameter": "query.point",
                    "message": "Does not match the regex pattern ^(-?\\d+(?:\\.\\d+)?),(-?\\d+(?:\\.\\d+)?)$"
                }
            ],
            "title": "Bad Request",
            "type": "https://api.weather.gov/problems/BadRequest",
            "status": 400,
            "detail": "Bad Request",
            "instance": "https://api.weather.gov/requests/ee46310"
        }
  recorded_at: Wed, 19 Oct 2022 20:56:54 GMT
recorded_with: VCR 6.1.0
