---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/alerts/active?certainty=Observed,Likely&point=33.2896,33.2896&severity=Extreme,Severe&status=actual&urgency=Immediate,Expected
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - eaa1807
      X-Server-Id:
      - vm-bldr-nids-apiapp12.ncep.noaa.gov
      X-Edge-Request-Id:
      - 9e3afd6
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "eaa1807",
            "title": "Invalid Parameter",
            "type": "https://api.weather.gov/problems/InvalidParameter",
            "status": 400,
            "detail": "Parameter \"point\" is invalid: out of bounds",
            "instance": "https://api.weather.gov/requests/eaa1807"
        }
  recorded_at: Wed, 19 Oct 2022 20:38:41 GMT
recorded_with: VCR 6.1.0
