---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/alerts/active?certainty=Observed,Likely&point=29.008056,-81.382778&severity=Extreme,Severe&status=actual&urgency=Immediate,Expected
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      Last-Modified:
      - Tue, 18 Oct 2022 02:15:23 GMT
      X-Correlation-Id:
      - 70c59302
      X-Server-Id:
      - vm-lnx-nids-apiapp4.ncep.noaa.gov
      X-Edge-Request-Id:
      - 3087dba
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "FeatureCollection",
            "features": [
                {
                    "id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.dd4ff7b5442e3279bfd86a449cd181e63e5db0fd.001.1",
                    "type": "Feature",
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [
                            [
                                [
                                    -81.390000000000001,
                                    28.899999999999999
                                ],
                                [
                                    -81.5,
                                    29.079999999999998
                                ],
                                [
                                    -81.420000000000002,
                                    29.099999999999998
                                ],
                                [
                                    -81.310000000000002,
                                    28.929999999999996
                                ],
                                [
                                    -81.390000000000001,
                                    28.899999999999999
                                ]
                            ]
                        ]
                    },
                    "properties": {
                        "@id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.dd4ff7b5442e3279bfd86a449cd181e63e5db0fd.001.1",
                        "@type": "wx:Alert",
                        "id": "urn:oid:2.49.0.1.840.0.dd4ff7b5442e3279bfd86a449cd181e63e5db0fd.001.1",
                        "areaDesc": "Lake, FL; Volusia, FL",
                        "geocode": {
                            "SAME": [
                                "012069",
                                "012127"
                            ],
                            "UGC": [
                                "FLC069",
                                "FLC127"
                            ]
                        },
                        "affectedZones": [
                            "https://api.weather.gov/zones/county/FLC069",
                            "https://api.weather.gov/zones/county/FLC127"
                        ],
                        "references": [],
                        "sent": "2022-10-17T22:15:00-04:00",
                        "effective": "2022-10-17T22:15:00-04:00",
                        "onset": "2022-10-17T22:15:00-04:00",
                        "expires": "2022-10-18T11:00:00-04:00",
                        "ends": null,
                        "status": "Actual",
                        "messageType": "Alert",
                        "category": "Met",
                        "severity": "Severe",
                        "certainty": "Observed",
                        "urgency": "Immediate",
                        "event": "Flood Warning",
                        "sender": "w-nws.webmaster@noaa.gov",
                        "senderName": "NWS Melbourne FL",
                        "headline": "Flood Warning issued October 17 at 10:15PM EDT by NWS Melbourne FL",
                        "description": "* WHAT...Major flooding is occurring and major flooding is forecast.\n\n* WHERE...St Johns River Near Deland.\n\n* WHEN...Until further notice.\n\n* IMPACTS...At 5.3 feet, Major flooding occurs to many structures\nand marinas along the river and in the Hontoon Island area.\n\n* ADDITIONAL DETAILS...\n- At 9:30 PM EDT Monday the stage was 6.0 feet.\n- Recent Activity...The maximum river stage in the 24 hours\nending at 9:30 PM EDT Monday was 6.1 feet.\n- Forecast...The river is expected to fall to 5.5 feet Saturday\nevening.\n- Flood stage is 4.0 feet.\n- http://www.weather.gov/safety/flood",
                        "instruction": null,
                        "response": "Avoid",
                        "parameters": {
                            "AWIPSidentifier": [
                                "FLSMLB"
                            ],
                            "WMOidentifier": [
                                "WGUS82 KMLB 180215"
                            ],
                            "NWSheadline": [
                                "FLOOD WARNING REMAINS IN EFFECT UNTIL FURTHER NOTICE"
                            ],
                            "BLOCKCHANNEL": [
                                "EAS",
                                "NWEM",
                                "CMAS"
                            ],
                            "EAS-ORG": [
                                "WXR"
                            ],
                            "VTEC": [
                                "/O.CON.KMLB.FL.W.0007.000000T0000Z-000000T0000Z/"
                            ],
                            "expiredReferences": [
                                "w-nws.webmaster@noaa.gov,urn:oid:2.49.0.1.840.0.30c0f6fafacaad3d6e8bce833a886c2f13d9e6f5.001.1,2022-10-17T10:37:00-04:00 w-nws.webmaster@noaa.gov,urn:oid:2.49.0.1.840.0.caa87c5d5df1d0205a471cae00805c2684906538.001.1,2022-10-16T21:56:00-04:00 w-nws.webmaster@noaa.gov,urn:oid:2.49.0.1.840.0.cae03b9c4cd63d30cfef4a989ebc27607959ad39.001.1,2022-10-16T09:59:00-04:00 w-nws.webmaster@noaa.gov,urn:oid:2.49.0.1.840.0.1f63e80e76611d41f1f6bcd70130fcec6691ab29.001.1,2022-1[...]
