---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/alerts/active?certainty=Observed,Likely&point=null&severity=Extreme,Severe&status=actual&urgency=Immediate,Expected
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - adc1314c
      X-Server-Id:
      - vm-lnx-nids-apiapp9.ncep.noaa.gov
      X-Edge-Request-Id:
      - fd01d8
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "adc1314c",
            "parameterErrors": [
                {
                    "parameter": "query.point",
                    "message": "Does not match the regex pattern ^(-?\\d+(?:\\.\\d+)?),(-?\\d+(?:\\.\\d+)?)$"
                }
            ],
            "title": "Bad Request",
            "type": "https://api.weather.gov/problems/BadRequest",
            "status": 400,
            "detail": "Bad Request",
            "instance": "https://api.weather.gov/requests/adc1314c"
        }
  recorded_at: Mon, 17 Oct 2022 22:06:58 GMT
recorded_with: VCR 6.1.0
