---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/alerts/active?certainty=Observed,Likely&point=33.2896,-97.6982&severity=Extreme,Severe&status=actual&urgency=Immediate,Expected
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      Last-Modified:
      - Sat, 15 Oct 2022 22:30:00 GMT
      X-Correlation-Id:
      - 9bb24fc
      X-Server-Id:
      - vm-bldr-nids-apiapp6.ncep.noaa.gov
      X-Edge-Request-Id:
      - 460e590
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": {
                "@version": "1.1"
            },
            "type": "FeatureCollection",
            "features": [],
            "title": "current watches, warnings, and advisories for 33.2896 N, 97.6982 W",
            "updated": "2022-10-15T22:30:00+00:00"
        }
  recorded_at: Tue, 18 Oct 2022 16:46:44 GMT
recorded_with: VCR 6.1.0
