---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC28f479cf4614fb5c541f9e3b1cb9d70a/Messages.json
    body:
      encoding: UTF-8
      string: Body=Thanks+for+signing+up.+You+will+receive+disaster+updates+for+your+area+when+applicable.&From=%2B14057844891&To=%2B17204740636
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMyOGY0NzljZjQ2MTRmYjVjNTQxZjllM2IxY2I5ZDcwYToxMTBlZjIzZTU4ZjIwYmE3MTVmMzZkZWQ5YTY5NWM5Ng==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ63a12b208a67a990d7414560ea2e514b
      Twilio-Request-Duration:
      - '0.144'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"body": "Sent from your Twilio trial account - Thanks for signing
        up. You will receive disaster updates for your area when applicable.", "num_segments":
        "1", "direction": "outbound-api", "from": "+14057844891", "date_updated":
        "Tue, 18 Oct 2022 23:01:15 +0000", "price": null, "error_message": null, "uri":
        "/2010-04-01/Accounts/AC28f479cf4614fb5c541f9e3b1cb9d70a/Messages/SM63a12b208a67a990d7414560ea2e514b.json",
        "account_sid": "AC28f479cf4614fb5c541f9e3b1cb9d70a", "num_media": "0", "to":
        "+17204740636", "date_created": "Tue, 18 Oct 2022 23:01:15 +0000", "status":
        "queued", "sid": "SM63a12b208a67a990d7414560ea2e514b", "date_sent": null,
        "messaging_service_sid": null, "error_code": null, "price_unit": "USD", "api_version":
        "2010-04-01", "subresource_uris": {"media": "/2010-04-01/Accounts/AC28f479cf4614fb5c541f9e3b1cb9d70a/Messages/SM63a12b208a67a990d7414560ea2e514b/Media.json"}}'
  recorded_at: Tue, 18 Oct 2022 23:01:15 GMT
- request:
    method: get
    uri: https://api.weather.gov/alerts/active?certainty=Observed,Likely&point=39.7392,-104.9903&severity=Extreme,Severe&status=actual&urgency=Immediate,Expected
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      Last-Modified:
      - Wed, 12 Oct 2022 00:00:00 GMT
      X-Correlation-Id:
      - 9644d03
      X-Server-Id:
      - vm-bldr-nids-apiapp1.ncep.noaa.gov
      X-Edge-Request-Id:
      - 5aba7e0
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": {
                "@version": "1.1"
            },
            "type": "FeatureCollection",
            "features": [],
            "title": "current watches, warnings, and advisories for 39.7392 N, 104.9903 W",
            "updated": "2022-10-12T00:00:00+00:00"
        }
  recorded_at: Tue, 18 Oct 2022 23:01:15 GMT
recorded_with: VCR 6.1.0
